header{
    background-color: chocolate;
    height: 90px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}
h3{
    font-size: 30px;
}

main{
    margin: auto;
    height: 300px;
    background-color: rgb(197, 184, 168);
    max-width: 800px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 18px;
}
a{
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 800;
    padding: 10px;
}
a:hover{
    background-color: cornflowerblue;
}