<header>
  <nav class="bg-amber-300">
    <ul class="flex gap-10 p-5">
      <li class="text-2xl font-bold"><a href="/host/add-home">Add Home</a></li>
      <li class="text-2xl font-bold">
        <a href="/host/add-home">Go to home</a>
      </li>
    </ul>
  </nav>
</header>
