<%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <h3 class="text-amber-950 text-3xl font-bold">✓ Home Registration Successful!</h3>
    <main class="bg-amber-100 flex flex-col justify-center items-center m-auto max-w-2xl min-h-96 mt-32 rounded-lg shadow-lg p-10">
      <h2 class="text-amber-950 text-2xl font-bold mb-6">Your home has been added successfully</h2>
      <a href="/" class="bg-amber-600 text-white font-bold py-3 px-8 rounded-lg hover:bg-amber-700 transition">Back to Home</a>
    </main>
  </body>
</html>
