<%- include('partials/head') %>

<body>
    <%- include('partials/nav') %>
    <main class="bg-amber-100 flex flex-col justify-center items-center m-auto max-w-2xl p-10 mt-32 rounded-lg shadow-lg">
      <h4 class="text-amber-950 text-3xl font-bold mb-8">Register Home Details</h4>
      <form action="/host/add-home" method="POST" class="w-full max-w-md">
        <div class="mb-6">
          <input name="houseName" type="text" placeholder="Enter Home Name.." class="w-full px-4 py-3 border-2 border-amber-300 rounded-lg focus:outline-none focus:border-amber-600" />
          <input name="housePrice" type="text" placeholder="Enter Home Price.." class="w-full px-4 py-3 border-2 border-amber-300 rounded-lg focus:outline-none focus:border-amber-600" />
          <input name="houseRating" type="text" placeholder="Enter Home Ratting.." class="w-full px-4 py-3 border-2 border-amber-300 rounded-lg focus:outline-none focus:border-amber-600" />
          <input name="houseLocation" type="text" placeholder="Enter Home Location.." class="w-full px-4 py-3 border-2 border-amber-300 rounded-lg focus:outline-none focus:border-amber-600" />
          <input name="houseImg" type="text" placeholder="Choose image.." class="w-full px-4 py-3 border-2 border-amber-300 rounded-lg focus:outline-none focus:border-amber-600" />
        </div>

        <button type="Submit" class="w-full bg-amber-600 text-white font-bold py-3 px-6 rounded-lg hover:bg-amber-700 transition">Add Home</button>
      </form>
    </main>
  </body>
</html>
